/*
========================================================================================
    Config for CAGER_TAGCLUSTER_QC nf-test
========================================================================================
*/

params {
    corrplot_tagCountThreshold = 1
    norm_range_min             = 5
    norm_range_max             = 10000
    norm_method                = "powerLaw"
    t_norm                     = 1000000
    alpha                      = null
    sample_num_thr             = 1
    ctss_thr                   = 1
    distclu_maxDist            = 20
    keepSingletonsAbove        = 5
    iq_low                     = 0.1
    iq_high                    = 0.9
    iqw_tpm_threshold          = 3
    consensus_thr              = 2
    consensus_dist             = 100
    tssregion_up               = -3000
    tssregion_down             = 3000
    tsslogo_upstream           = 35
}
