/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }
    'fastqc_post' {
             args           = "--quiet"
             publish_dir    = "fastqc_post"
             suffix         = "fastq_post"
         }
         'star_genomegenerate' {
             publish_dir    = "genome/index"
         }
         'star_align' {
             args           = "--quantMode TranscriptomeSAM --twopassMode Basic --outSAMtype BAM Unsorted --readFilesCommand zcat --runRNGseed 0 --outFilterScoreMinOverLread 0 --outFilterMatchNminOverLread 0 --seedSearchStartLmax 20 --outFilterMismatchNmax 1 --runDirPerm All_RWX --outFilterMultimapNmax 1"
             publish_files  = ['out':'log', 'tab':'log', 'bam':'aligned']
         }
         'bowtie_align' {
             args           = "--sam -m 1 --best --strata -k 1 --tryhard --phred33-quals --chunkmbs 64 --seedmms 2 --seedlen 20  --maqerr 70"
         }
         'bowtie_index' {
             args           = ""
         }
         'multiqc' {
             args           = ""
             publish_dir    = "multiqc/${params.aligner}"
         }
         'sortmerna' {
             args           = "--num_alignments 1 --workdir . --fastx --aligned rRNA-reads --other non-rRNA-reads -v"
         }

}
