/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // publishDir = [
    //     path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //     mode: params.publish_dir_mode,
    //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    // ]

    withName: 'CAT_FASTQ' {
        publishDir = [
            path: { "${params.outdir}/cat_fastq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_merged_fastq
        ]
        container = 'quay.io/nf-core/ubuntu:20.04'
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0'
    }

    withName: 'TRIMGALORE' {
        publishDir = [
            path: { "${params.outdir}/trimgalore" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/trim-galore:0.6.7--hdfd78af_0'
        ext.args = { "${params.params_trimgalore ?: ''} --fastqc" }
    }

    withName: 'CUTADAPT' {
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/cutadapt:4.6--py39hf95cd2a_1'
        ext.args = { "-g ^G -e 0" }
    }

    withName: BOWTIE2_BUILD {
        publishDir = [
            path: { "${params.outdir}/bowtie2_build" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/bowtie2:2.4.5--py39hbb4e92a_0'
    }

    withName: BOWTIE2_ALIGN {
        publishDir = [
            path: { "${params.outdir}/bowtie2_align" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0'
        ext.args = '--end-to-end'
        ext.args2 = '-b -q 20'
    }

    withName: STAR_ALIGN {
        publishDir = [
            path: { "${params.outdir}/star_align" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:ded3841da0194af2701c780e9b3d653a85d27489-0'
        ext.args = "--readFilesCommand gunzip -c --alignEndsType Extend5pOfRead1 --outSAMtype BAM SortedByCoordinate --outWigType wiggle read1_5p --outWigNorm None --outSAMunmapped Within"
    }

    withName: STAR_GENOMEGENERATE {
        publishDir = [
            path: { "${params.outdir}/star_genomegenerate" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SAMTOOLS_SORT {
        publishDir = [
            path: { "${params.outdir}/samtools_sort" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: SORT_FOR_FIXMATE {
        publishDir = [
            path: { "${params.outdir}/samtools_sort_for_fixmate" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
        ext.prefix = { "${meta.id}_namesorted" }
        ext.args = '-n'
    }

    withName: SAMTOOLS_VIEW_MAPQ {
        publishDir = [
            path: { "${params.outdir}/samtools_view_mapq" },
            mode: params.publish_dir_mode
        ]
        ext.args = '-q 20'
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/samtools_index" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
    }

    withName: INDEX_DEDUP {
        publishDir = [
            path: { "${params.outdir}/samtools_index_dedup" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
    }

    withName: SAMTOOLS_FIXMATE {
        publishDir = [
            path: { "${params.outdir}/samtools_fixmate" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
        ext.prefix = { "${meta.id}_fixed" }
        ext.args = '-m'
    }

    withName: SAMTOOLS_DEDUP {
        publishDir = [
            path: { "${params.outdir}/samtools_dedup" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
        ext.prefix = { "${meta.id}_dedup" }
        ext.args = '-r'
    }

    withName: SAMTOOLS_STATS {
        publishDir = [
            path: { "${params.outdir}/samtools_stats" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
    }

    withName: SAMTOOLS_IDXSTATS {
        publishDir = [
            path: { "${params.outdir}/samtools_idxstats" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
    }

    withName: SAMTOOLS_FLAGSTAT {
        publishDir = [
            path: { "${params.outdir}/samtools_flagstat" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
    }

    withName: UCSC_WIGTOBIGWIG {
        publishDir = [
            path: { "${params.outdir}/bigwig" },
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/ucsc-wigtobigwig:447--h2a80c09_1'
    }

    withName: FORGE_BSGENOME {
        publishDir = [
            path: { "${params.outdir}/bsgenome" },
            mode: params.publish_dir_mode
        ]
        container = 'docker://nikitinpavel/cager:0.6'
    }

    withName: CAGER_READIN {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
        container = 'docker://cbgr/cager_leancage:0.4.0'
    }

    withName: GTF2TXDB {
        publishDir = [
            path: { "${params.outdir}/txdb" },
            mode: params.publish_dir_mode
        ]
        container = 'docker://cbgr/cager_leancage:0.4.0'
    }

    withName: CAGER_TAG_QC {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
        container = 'docker://cbgr/cager_leancage:0.4.0'
    }

    withName: CAGER_PROCESSING {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
        container = 'docker://cbgr/cager_leancage:0.4.0'
    }

    withName: CAGER_TAGCLUSTER_QC {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
        container = 'docker://cbgr/cager_leancage:0.4.0'
    }

    withName: CAGEFIGHTR_ENHANCER_CALLING {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
        container = 'docker://cbgr/cager_leancage:0.4.0'
    }

    withName: CAGER_REPORT {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
        container = 'docker://cbgr/rmarkdowner:1.5.2'
    }
}
