/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'CAT_FASTQ' {
        publishDir = [
            path: { "${params.outdir}/cat_fastq" },
            enabled: params.save_merged_fastq
        ]
    }


    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TRIMGALORE' {
        publishDir = [
            path: { "${params.outdir}/trimgalore" },
            mode: params.publish_dir_mode
        ]
        ext.args = { "${params.params_trimgalore ?: ''} --fastqc" }
    }

    withName: 'CUTADAPT' {
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode
        ]
        ext.args = { "-g ^G -e 0" }
    }

    withName: BOWTIE2_BUILD {
        publishDir = [
            path: { "${params.outdir}/bowtie2_build" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BOWTIE2_ALIGN {
        publishDir = [
            path: { "${params.outdir}/bowtie2_align" },
            mode: params.publish_dir_mode
        ]
        ext.args = '--end-to-end'
        ext.args2 = '-b -q 20'
    }

    withName: STAR_ALIGN {
        publishDir = [
            path: { "${params.outdir}/star_align" },
            mode: params.publish_dir_mode
        ]
        ext.args   = {
            def argsList = ['--readFilesCommand', 'gunzip -c', '--alignEndsType', 'Extend5pOfRead1', '--outSAMtype', 'BAM', 'SortedByCoordinate', '--outWigType', 'wiggle', 'read1_5p', '--outWigNorm', 'None', '--outSAMunmapped', 'Within']

            // Read group tags - assembled once from samplesheet meta and pipeline params
            // Per-sample meta values take priority over global params
            def seqCenter   = meta.seq_center   ?: params.seq_center
            def seqPlatform = meta.seq_platform ?: params.seq_platform
            argsList << "--rg-id ${meta.id}"
            argsList << "--rg SM:${meta.id}"
            if (seqPlatform) argsList << "--rg PL:${seqPlatform}"
            if (seqCenter) argsList << "--rg CN:${seqCenter}"

            argsList.join(' ')
        }
    }

    withName: STAR_GENOMEGENERATE {
        publishDir = [
            path: { "${params.outdir}/star_genomegenerate" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SAMTOOLS_SORT {
        publishDir = [
            path: { "${params.outdir}/samtools_sort" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: SORT_FOR_FIXMATE {
        publishDir = [
            path: { "${params.outdir}/samtools_sort_for_fixmate" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.id}_namesorted" }
        ext.args = '-n'
    }

    withName: 'BOWTIE2:SAMTOOLS_VIEW' {
        publishDir = [
            path: { "${params.outdir}/samtools_view_mapq" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.id}_mapq" }
        ext.args = '-q 20'
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/samtools_index" },
            mode: params.publish_dir_mode
        ]
    }

    withName: INDEX_DEDUP {
        publishDir = [
            path: { "${params.outdir}/samtools_sort" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SAMTOOLS_FIXMATE {
        publishDir = [
            path: { "${params.outdir}/samtools_fixmate" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.id}_fixed" }
        ext.args = '-m'
    }

    withName: SAMTOOLS_MARKDUP {
        publishDir = [
            path: { "${params.outdir}/samtools_markdup" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.id}_dedup" }
        ext.args = '-r -s'
    }

    withName: SAMTOOLS_STATS {
        publishDir = [
            path: { "${params.outdir}/samtools_stats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SAMTOOLS_IDXSTATS {
        publishDir = [
            path: { "${params.outdir}/samtools_idxstats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SAMTOOLS_FLAGSTAT {
        publishDir = [
            path: { "${params.outdir}/samtools_flagstat" },
            mode: params.publish_dir_mode
        ]
    }

    withName: UCSC_WIGTOBIGWIG {
        publishDir = [
            path: { "${params.outdir}/bigwig" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FORGEBSGENOME {
        publishDir = [
            path: { "${params.outdir}/bsgenome" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CAGER_READIN {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GTF2TXDB {
        publishDir = [
            path: { "${params.outdir}/txdb" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CAGER_TAG_QC {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CAGER_PROCESSING {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CAGER_TAGCLUSTER_QC {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CAGEFIGHTR_ENHANCERCALLING {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CAGER_REPORT {
        publishDir = [
            path: { "${params.outdir}/cager" },
            mode: params.publish_dir_mode
        ]
    }
}
