/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/cageseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input              = params.pipelines_testdata_base_path + 'cageseq/samplesheet/v2/samplesheet.csv'
    sample_name_fields = 1
    seq_platform       = 'illumina'

    // Genome references
    genome_name = 'sacCer3chrIII'
    gtf         = params.pipelines_testdata_base_path + 'cageseq/reference/v2/sacCer3chrIII.gtf'
    fasta       = params.pipelines_testdata_base_path + 'cageseq/reference/v2/sacCer3chrIII.fa'
    bsgenome    = params.pipelines_testdata_base_path + 'cageseq/reference/v2/BSgenome.sacCer3ChrIII.Test.sacCer3ChrIII_1.0.tar.gz'

    // CAGEr
    cager_sample_file   = params.pipelines_testdata_base_path + 'cageseq/cageseq2_sample_list_test.csv'
    sample_num_thr      = 2
    ctss_thr            = 3
    keepSingletonsAbove = 1
    cfBalanceThreshold  = 0.65
}
