/*
========================================================================================
    Config for CAGER_TAG_QC nf-test
========================================================================================
*/

params {
    pipelines_testdata_base_path    = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/customcage/'
    modules_testdata_base_path      = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    corrplot_tagCountThreshold      = 1
}
