name: nf-core AWS test
# This workflow is triggered on push to the master branch.
# It can be additionally triggered manually with GitHub actions workflow dispatch.
# It runs the -profile 'test' on AWS batch.

on:
  workflow_dispatch:

jobs:
  run-awstest:
    name: Run AWS tests
    if: github.repository == 'nf-core/cageseq'
    runs-on: ubuntu-latest
    steps:
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.7
      - name: Install awscli
        run: conda install -c conda-forge awscli
      - name: Start AWS batch job
        strategy:
          matrix:
            # Nextflow versions: check pipeline minimum and current latest
            nxf_ver: ['19.10.0', '']
            aligner: ["--aligner 'bowtie1'", "--aligner 'star'"]
            options: ['--skip_trimming true','--trim_ecop false','--trim_linker false','--trim_5g false','--trim_artifacts false', '--bigwig', '--remove_ribo_rna']
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TOWER_ACCESS_TOKEN: ${{ secrets.AWS_TOWER_TOKEN }}
          AWS_JOB_DEFINITION: ${{ secrets.AWS_JOB_DEFINITION }}
          AWS_JOB_QUEUE: ${{ secrets.AWS_JOB_QUEUE }}
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        run: |
          aws batch submit-job \
          --region eu-west-1 \
          --job-name nf-core-cageseq \
          --job-queue $AWS_JOB_QUEUE \
          --job-definition $AWS_JOB_DEFINITION \
          --container-overrides '{"command": ["nf-core/cageseq", "-r '"${GITHUB_SHA}"' -profile test --outdir s3://'"${AWS_S3_BUCKET}"'/cageseq/results-'"${GITHUB_SHA}"' -w s3://'"${AWS_S3_BUCKET}"'/cageseq/work-'"${GITHUB_SHA}"' -with-tower"], "environment": [{"name": "TOWER_ACCESS_TOKEN", "value": "'"$TOWER_ACCESS_TOKEN"'"}]}'
